.fa-trash-can{
  color: #A50000;
}
.fa-pen-to-square{
  color:#069803;
}
.fa-circle-check{
  color:#d0d0d0;
}
.fa-circle-check:hover{
  color:#88F0AB;
}
.fa-circle-check.checked{
  color:#069803;
}
.fa-solid.fa-clock{
  color:#FFE606;
}
.fa-solid.fa-retweet{
  color: #909090;
}

.btn-icon{
  text-decoration: none;
  margin: 0 10px;
}

.td-align-right{
  text-align: right;
  padding-right: 10px !important;
}
.td-align-right span{
  display: block;
}
.td-descr{
  max-width: 220px;
  word-break: break-all;
}
.td-doc{
  max-width: 130px;
  word-break: break-all;
  text-overflow: ellipsis;
}
.td-num{
  min-width: 55px;
}
input:required:invalid, input:focus:invalid {
  border: 1px solid #A50000;
}
.row-deleted{
  background-color: #ececec;
  color: #757575;
}
.revision{
  font-size: 12px;
  color: #909090;
}
