:root {
  --code-color: darkred;
  --code-bg-color: #aaaaaa;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  /*--scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;*/
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: transparent;
}

pre {
  color: var(--code-color);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

.code-block {
  max-height: 100px;
  overflow: auto;
  padding: 8px 7px 5px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 7px;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 1px solid var(--scroll-bar-bg-color);
}

.fa-trash-can{
  color: #A50000;
}
.fa-pen-to-square{
  color:#069803;
}
.fa-circle-check{
  color:#d0d0d0;
}
.fa-circle-check:hover{
  color:#88F0AB;
}
.fa-solid.fa-circle-question{
  color:#d0d0d0;
}
.fa-solid.fa-circle-question:hover{
  color:#88F0AB;
}
.fa-circle-check.checked{
  color:#069803;
}
.fa-solid.fa-clock{
  color:#FFE606;
}
.fa-solid.fa-circle-question{
  color:#d0d0d0;
}
.fa-solid.fa-retweet{
  color: #909090;
}
.fa-solid.fa-triangle-exclamation{
  color: #A50000;
}

.btn-icon{
  text-decoration: none;
  margin: 0 10px;
}

.td-align-right{
  text-align: right;
  padding-right: 10px !important;
}
.td-align-right span{
  display: block;
}
.td-descr{
  max-width: 220px;
  word-break: break-all;
}
.td-doc{
  max-width: 130px;
  word-break: break-all;
  text-overflow: ellipsis;
}
.td-num{
  min-width: 55px;
}
input:required:invalid, input:focus:invalid {
  border: 1px solid #A50000;
}
.row-deleted{
  background-color: #ececec;
  color: #757575;
}
.revision{
  font-size: 12px;
  color: #909090;
}
#history_reason{
  word-break: break-all;
}
/*FinanceMovments page -------------------------- */
#block_contractor, #block_agreement, #block_employee, #block_goods, #block_official, #block_description, #block_document, #block_sum{
  display: none;
}
/*Report page ----------------------------------- */
#report_result>td{
  border: 1px solid grey;
}
td {
  vertical-align: top;
}
.report-datebar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.report-datebar_field{
  width: 100px;
  background-color: Lavender;
}
.report-datebar_formfiled{
  margin: 0 10px;
  max-height: 30px;
}
.report-content{
  margin: 0 0 50px 0;
}
/*Classificators page ----------------------------------- */
.agreements-nav, .agreements-content{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 50px;
}
.agreements-nav .btn{
  margin: 0 5px;
}
.agreements-nav .btn:first-child{
  margin: 0 5px 0 0;
}
#form_add_agreement{
  display: none;
  padding: 20px 0;
}
.classificator-date{
  border: 1px solid #ced4da;
}
.have-errors {
  padding: 20px 0;
  background-color: rgba(255, 0, 0, .2);
  margin-top: 10px;
}

.goto {
  display: inline-block;
  color: #000;
  padding: 10px;
  margin-left: 85%;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}
/*==================================================================================================================================================================================================================================*/
.content {
  margin-top: 50px;
}

.department:not(:first-child) {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #757575;
}

.employee_salary {
  width: 100%;
  border-collapse: collapse;
}

.employee_salary td, .employee_salary th {
  border-collapse: collapse;
  border: 1px solid #757575;
  padding: 5px;
}

.employee_salary th {
  text-align: center;
  padding-right: 15px !important;
  padding-left: 15px !important;
  text-transform: capitalize;
}

.employee_salary thead tr {
  background-color: #ccffcc;
}

.employee_salary tr:nth-child(even) {
  background-color: rgba(220, 220, 220, .3)
}

.td_text {
  text-align: left;
}

.td_col {
  text-align: center;
}

.td_money, .td_num {
  text-align: right;
}

.employee_salary th.th_money {
  /*padding-right: 30px !important;
  padding-left: 30px !important;*/
  min-width: 120px;
}

.clip {
  max-width: 50px;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  padding: 5px; /* Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
 }

 .employee_salary tr.trow.active {
  background-color: green;
}

.fld {
  width: 100%;
  max-width: 100%;
  text-align: right;
}

/*=====================================*/
table.time_balance {
  border-collapse: collapse;
  font-size: 14px;
}

table.time_balance td, table.time_balance th {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}


tr.empty td {
  text-align: center;
}

table.time_balance td {
  background-color: white;
  text-transform: capitalize;
}

table.time_balance td:first-child {
  font-weight: bold;
}

.wrapper {
  padding-bottom: 20px;
}

.classif_title {
  padding: 25px 0;
  text-align: center;
}